





#name {
    justify-content: start;
    text-align: left;
}


.headshot {
    border-radius: 50%;
}

.photography {
    width: 100%;
    height: 15vw;
    object-fit: fill;
}

.btm {
    display: inline-block
}






